In [1]:
import pandas as pd
# ensure that all columns are shown and that colum content is not cut
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.width',1000)
pd.set_option('display.max_rows', 500) # ensure that all rows are shown

# Prepare the dataset

In [ ]:
use complete dataseet as produced in 06_bulk_data_processing

In [ ]:
from secfsdstools.d_container.databagmodel import JoinedDataBag
from secfsdstools.f_standardize.bs_standardize import BalanceSheetStandardizer

all_bs_joinedbag = JoinedDataBag.load(target_path="set/parallel/BS/joined")
bs_standardizer = BalanceSheetStandardizer()

all_bs_joinedbag.present(bs_standardizer)

In [ ]:
speichern HInweis Verzeichnis erstellen
bs_standardizer.get_standardize_bag().save()

In [ ]:
irgendeine Übersciht zeigen, Qualtiy, Completness

- Übersicht über Tags, die berechnet werden, und wie diese in Zusammenhang stehen
- Beschreibung der Regeln, die angewendet werden
- Resultate, wie gut ist das Datenset

In [1]:
import pandas as pd
# ensure that all columns are shown and that colum content is not cut
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.width',1000)

In [3]:
from secfsdstools.f_standardize.bs_standardize import BalanceSheetStandardizer

bs_standardizer = BalanceSheetStandardizer()

In [4]:
bs_standardizer.present(all_bs_joinedbag)

tag                     adsh coreg  report     ddate  uom        Assets  AssetsCurrent  AssetsNoncurrent   Liabilities  LiabilitiesCurrent  LiabilitiesNoncurrent  HolderEquity  TemporaryEquity  RedeemableEquity        Equity  LiabilitiesAndEquity         Cash  RetainedEarnings  AdditionalPaidInCapital  TreasuryStockValue  AssetsCheck_error  AssetsCheck_cat  LiabilitiesCheck_error  LiabilitiesCheck_cat  EquityCheck_error  EquityCheck_cat  AssetsLiaEquCheck_error  AssetsLiaEquCheck_cat
0       0000002178-11-000032             3  20110630  USD  3.593880e+08   2.865200e+08      7.286800e+07  2.600610e+08        2.512960e+08           8.765000e+06  9.932700e+07              0.0               0.0  9.932700e+07          3.593880e+08   27939000.0        87212000.0               11693000.0                 NaN                0.0              0.0                     0.0                   0.0                0.0              0.0                      0.0                    0.0
1       0000002178-11-000049             3  20110930  USD  3.535870e+08   2.756010e+08      7.798600e+07  2.452340e+08        2.311140e+08           1.412000e+07  1.083530e+08              0.0               0.0  1.083530e+08          3.535870e+08   49560000.0        96238000.0               11693000.0                 NaN                0.0              0.0                     0.0                   0.0                0.0              0.0                      0.0                    0.0
2       0000002178-12-000010             2  20111231  USD  3.788400e+08   3.049650e+08      7.387500e+07  2.681580e+08        2.560940e+08           1.206400e+07  1.106820e+08              0.0               0.0  1.106820e+08          3.788400e+08   37066000.0        98567000.0               11693000.0                 NaN                0.0              0.0                     0.0                   0.0                0.0              0.0                      0.0                    0.0
3       0000002178-12-000026             3  20120331  USD  4.125340e+08   3.269200e+08      8.561400e+07  2.952770e+08        2.828150e+08           1.246200e+07  1.172570e+08              0.0               0.0  1.172570e+08          4.125340e+08   35989000.0       105142000.0               11693000.0                 NaN                0.0              0.0                     0.0                   0.0                0.0              0.0                      0.0                    0.0
4       0000002178-12-000037             4  20120630  USD  3.440350e+08   2.497470e+08      9.428800e+07  2.213920e+08        2.083550e+08           1.303700e+07  1.226430e+08              0.0               0.0  1.226430e+08          3.440350e+08   32213000.0       110528000.0               11693000.0                 NaN                0.0              0.0                     0.0                   0.0                0.0              0.0                      0.0                    0.0
...                      ...   ...     ...       ...  ...           ...            ...               ...           ...                 ...                    ...           ...              ...               ...           ...                   ...          ...               ...                      ...                 ...                ...              ...                     ...                   ...                ...              ...                      ...                    ...
319587  0001971213-23-000019             2  20230630  USD  6.201000e+09   1.506000e+09      4.695000e+09  5.560000e+09        6.240000e+08           4.936000e+09  6.410000e+08              0.0               0.0  6.410000e+08          6.201000e+09  728000000.0       184000000.0                      NaN                 NaN                0.0              0.0                     0.0                   0.0                0.0              0.0                      0.0                    0.0
319588  0001973047-23-000016             2  20230731  USD  3.366300e+04   6.460000e+02      3.301700e+04  4.148700e+04        4.148700e+04           0.000000e+00 -7.824000e+03              0.0               0.0 -7.824000e+03          3.366300e+04        646.0               NaN                      NaN                 NaN                0.0              0.0                     0.0                   0.0                0.0              0.0                      0.0                    0.0
319589  0001974138-23-000008             4  20230630  USD  5.736000e+09   1.676000e+09      4.060000e+09  2.415000e+09        1.795000e+09           6.200000e+08  3.321000e+09              0.0               0.0  3.321000e+09          5.736000e+09  337000000.0               NaN                      NaN                 NaN                0.0              0.0                     0.0                   0.0                0.0              0.0                      0.0                    0.0
319590  0001974793-23-000004             2  20230630  USD  1.405810e+08   1.405810e+08      0.000000e+00  3.796100e+07        8.460000e+05           3.711500e+07  1.026200e+08              0.0               0.0  1.026200e+08          1.405810e+08   89275000.0          320000.0                      NaN                 NaN                0.0              0.0                     0.0                   0.0                0.0              0.0                      0.0                    0.0
319591  0001976719-23-000008             2  20230630  USD  1.787000e+07   1.787000e+07      0.000000e+00  7.929000e+06        2.982000e+06           4.947000e+06           NaN              0.0               0.0  9.941000e+06          1.787000e+07   12386000.0         -559000.0                      NaN                 NaN                0.0              0.0                     0.0                   0.0                0.0              0.0                      0.0                    0.0

[319592 rows x 28 columns]

In [5]:
std_bag = bs_standardizer.get_standardize_bag()

In [6]:
std_bag_target="std_bs_result_6"

In [8]:
std_bag.save(target_path=std_bag_target)

In [9]:
from secfsdstools.f_standardize.standardizing import StandardizedBag
loaded: StandardizedBag = StandardizedBag.load(target_path=std_bag_target)

C:\ieu\Anaconda3\envs\secanalyzing\lib\site-packages\secfsdstools\f_standardize\standardizing.py:77: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  applied_rules_sum_s = pd.read_csv(

In [10]:
loaded.validation_overview_df

     AssetsCheck_cat  LiabilitiesCheck_cat  EquityCheck_cat  AssetsLiaEquCheck_cat
0             314299                303072           298779                 298544
1                329                  2083             5985                   6108
5                619                  3377             3410                   3447
10               484                  2707             1392                   1413
100             3861                  8353             9160                   9381

In [15]:
loaded.validation_overview_df

     AssetsCheck_cat  LiabilitiesCheck_cat  OwnerEquityCheck_cat  AssetsLiaEquCheck_cat
0             314299                302980                293112                 292864
1                329                  2171                  8926                   9053
5                619                  3379                  5041                   5079
10               484                  2705                  1893                   1913
100             3861                  8357                  9746                   9963

In [12]:
value_counts_df

     AssetsCheck_cat  LiabilitiesCheck_cat  OwnerEquityCheck_cat  AssetsLiaEquCheck_cat
0             314299                302799                285380                 285128
1                329                  2199                  9465                   9590
5                619                  3401                  5785                   5825
10               484                  2721                  2391                   2412
100             3861                  8472                 15689                  15909

In [11]:
value_counts_df

     AssetsCheck_cat  LiabilitiesCheck_cat  OwnerEquityCheck_cat  AssetsLiaEquCheck_cat
0             314294                301336                285380                 285128
1                329                  2212                  9465                   9590
5                619                  3533                  5785                   5825
10               484                  3046                  2391                   2412
100             3861                  9460                 15689                  15909

In [11]:
value_counts_df

     AssetsCheck_cat  LiabilitiesCheck_cat  OwnerEquityCheck_cat  AssetsLiaEquCheck_cat
0             314292                297023                285380                 285128
1                329                  1646                  9465                   9590
5                619                  3917                  5785                   5825
10               484                  4103                  2391                   2412
100             3861                 12896                 15689                  15909

In [11]:
value_counts_df

     AssetsCheck_cat  LiabilitiesCheck_cat  OwnerEquityCheck_cat  AssetsLiaEquCheck_cat
0             314281                295943                285378                 285126
1                329                  1529                  9465                   9590
5                619                  3779                  5785                   5825
10               484                  3938                  2391                   2412
100             3861                 14385                 15689                  15909

In [11]:
value_counts_df

     AssetsCheck_cat  LiabilitiesCheck_cat  OwnerEquityCheck_cat  AssetsLiaEquCheck_cat
0             314281                294801                285378                 285126
1                329                  1397                  9465                   9590
5                619                  3807                  5785                   5825
10               484                  4285                  2391                   2412
100             3861                 15284                 15689                  15909

In [11]:
value_counts_df

     AssetsCheck_cat  LiabilitiesCheck_cat  OwnerEquityCheck_cat  AssetsLiaEquCheck_cat
0             314281                219621                253443                 252937
1                329                  3559                 11575                  11759
5                619                  8388                 10208                  10278
10               484                  7669                  6483                   6508
100             3861                 80337                 36999                  37380

In [12]:
value_counts_df

     AssetsCheck_cat  LiabilitiesCheck_cat  OwnerEquityCheck_cat  AssetsLiaEquCheck_cat
0             314275                233585                255486                 254981
1                329                  3880                 12073                  12261
5                619                 11951                 12781                  12859
10               484                 13514                  8952                   8982
100             3861                 56638                 29403                  29778

In [16]:
value_counts_df

     AssetsCheck_cat  LiabilitiesCheck_cat  OwnerEquityCheck_cat  AssetsLiaEquCheck_cat
0             314200                318735                252511                 252006
1                329                   204                 10830                  11013
5                619                    61                  8436                   8504
10               484                    32                  4546                   4569
100             3861                   461                 42342                  42743

In [12]:
check_100 = loaded.result_df[loaded.result_df.EquityCheck_cat == 100].adsh.tolist()

In [13]:
check_100[0:20]

['0000007332-09-000034',
 '0000007332-10-000005',
 '0000007332-10-000019',
 '0000007332-10-000032',
 '0000007332-10-000041',
 '0000007332-11-000010',
 '0000007332-11-000019',
 '0000007332-11-000026',
 '0000007332-12-000003',
 '0000007332-12-000011',
 '0000012400-11-000016',
 '0000012400-11-000021',
 '0000012400-12-000010',
 '0000012400-13-000003',
 '0000012400-13-000006',
 '0000012400-13-000012',
 '0000012400-13-000015',
 '0000012400-14-000004',
 '0000012400-14-000007',
 '0000012400-14-000010']

In [14]:
check_100_df = loaded.applied_rules_log_df[loaded.applied_rules_log_df.adsh.isin(check_100)]

In [15]:
check_100_df

tag,adsh,coreg,report,ddate,uom,PRE_BS_PRE_#1_Assets/AssetsNoncurrent,PRE_BS_PRE_#2_Assets/AssetsCurrent,MAIN_0_BS_#1_BR_#1_Assets,MAIN_0_BS_#1_BR_#2_Cash,MAIN_0_BS_#1_BR_#3_LiabilitiesAndEquity,MAIN_0_BS_#1_BR_#4_RetainedEarnings,MAIN_0_BS_#2_OE_#1_HolderEquity,MAIN_0_BS_#2_OE_#2_HolderEquity,MAIN_0_BS_#2_OE_#3_HolderEquity,MAIN_0_BS_#2_OE_#4_TemporaryEquity,MAIN_0_BS_#2_OE_#5_RedeemableEquity,MAIN_0_BS_#2_OE_#6_Equity,MAIN_0_BS_#3_SC_#1_Assets,MAIN_0_BS_#3_SC_#2_AssetsCurrent,MAIN_0_BS_#3_SC_#3_AssetsNoncurrent,MAIN_0_BS_#3_SC_#4_Liabilities,MAIN_0_BS_#3_SC_#5_LiabilitiesCurrent,MAIN_0_BS_#3_SC_#6_LiabilitiesNoncurrent,MAIN_0_BS_#3_SC_#7_Assets,MAIN_0_BS_#3_SC_#8_Liabilities,MAIN_0_BS_#3_SC_#9_Equity,MAIN_0_BS_#3_SC_#10_LiabilitiesAndEquity,MAIN_0_BS_#3_SC_#11_Liabilities,MAIN_0_BS_#3_SC_#12_Equity,MAIN_0_BS_#4_SU_#1_Cash,MAIN_0_BS_#4_SU_#2_RetainedEarnings,MAIN_0_BS_#4_SU_#3_LongTermDebt,MAIN_0_BS_#4_SU_#4_LiabilitiesNoncurrent,MAIN_0_BS_#5_SetSum_#1_Assets/AssetsNoncurrent,MAIN_0_BS_#5_SetSum_#2_Assets/AssetsCurrent,MAIN_0_BS_#5_SetSum_#3_Liabilities/LiabilitiesNoncurrent,MAIN_0_BS_#5_SetSum_#4_Liabilities/LiabilitiesCurrent,MAIN_1_BS_#1_BR_#1_Assets,MAIN_1_BS_#1_BR_#2_Cash,MAIN_1_BS_#1_BR_#3_LiabilitiesAndEquity,MAIN_1_BS_#1_BR_#4_RetainedEarnings,MAIN_1_BS_#2_OE_#1_HolderEquity,MAIN_1_BS_#2_OE_#2_HolderEquity,MAIN_1_BS_#2_OE_#3_HolderEquity,MAIN_1_BS_#2_OE_#4_TemporaryEquity,MAIN_1_BS_#2_OE_#5_RedeemableEquity,MAIN_1_BS_#2_OE_#6_Equity,MAIN_1_BS_#3_SC_#1_Assets,MAIN_1_BS_#3_SC_#2_AssetsCurrent,MAIN_1_BS_#3_SC_#3_AssetsNoncurrent,MAIN_1_BS_#3_SC_#4_Liabilities,MAIN_1_BS_#3_SC_#5_LiabilitiesCurrent,MAIN_1_BS_#3_SC_#6_LiabilitiesNoncurrent,MAIN_1_BS_#3_SC_#7_Assets,MAIN_1_BS_#3_SC_#8_Liabilities,MAIN_1_BS_#3_SC_#9_Equity,MAIN_1_BS_#3_SC_#10_LiabilitiesAndEquity,MAIN_1_BS_#3_SC_#11_Liabilities,MAIN_1_BS_#3_SC_#12_Equity,MAIN_1_BS_#4_SU_#1_Cash,MAIN_1_BS_#4_SU_#2_RetainedEarnings,MAIN_1_BS_#4_SU_#3_LongTermDebt,MAIN_1_BS_#4_SU_#4_LiabilitiesNoncurrent,MAIN_1_BS_#5_SetSum_#1_Assets/AssetsNoncurrent,MAIN_1_BS_#5_SetSum_#2_Assets/AssetsCurrent,MAIN_1_BS_#5_SetSum_#3_Liabilities/LiabilitiesNoncurrent,MAIN_1_BS_#5_SetSum_#4_Liabilities/LiabilitiesCurrent,MAIN_2_BS_#1_BR_#1_Assets,MAIN_2_BS_#1_BR_#2_Cash,MAIN_2_BS_#1_BR_#3_LiabilitiesAndEquity,MAIN_2_BS_#1_BR_#4_RetainedEarnings,MAIN_2_BS_#2_OE_#1_HolderEquity,MAIN_2_BS_#2_OE_#2_HolderEquity,MAIN_2_BS_#2_OE_#3_HolderEquity,MAIN_2_BS_#2_OE_#4_TemporaryEquity,MAIN_2_BS_#2_OE_#5_RedeemableEquity,MAIN_2_BS_#2_OE_#6_Equity,MAIN_2_BS_#3_SC_#1_Assets,MAIN_2_BS_#3_SC_#2_AssetsCurrent,MAIN_2_BS_#3_SC_#3_AssetsNoncurrent,MAIN_2_BS_#3_SC_#4_Liabilities,MAIN_2_BS_#3_SC_#5_LiabilitiesCurrent,MAIN_2_BS_#3_SC_#6_LiabilitiesNoncurrent,MAIN_2_BS_#3_SC_#7_Assets,MAIN_2_BS_#3_SC_#8_Liabilities,MAIN_2_BS_#3_SC_#9_Equity,MAIN_2_BS_#3_SC_#10_LiabilitiesAndEquity,MAIN_2_BS_#3_SC_#11_Liabilities,MAIN_2_BS_#3_SC_#12_Equity,MAIN_2_BS_#4_SU_#1_Cash,MAIN_2_BS_#4_SU_#2_RetainedEarnings,MAIN_2_BS_#4_SU_#3_LongTermDebt,MAIN_2_BS_#4_SU_#4_LiabilitiesNoncurrent,MAIN_2_BS_#5_SetSum_#1_Assets/AssetsNoncurrent,MAIN_2_BS_#5_SetSum_#2_Assets/AssetsCurrent,MAIN_2_BS_#5_SetSum_#3_Liabilities/LiabilitiesNoncurrent,MAIN_2_BS_#5_SetSum_#4_Liabilities/LiabilitiesCurrent,POST_BS_POST_#1_AssetsCurrent/AssetsNoncurrent,POST_BS_POST_#2_LiabilitiesCurrent/LiabilitiesNoncurrent,POST_BS_POST_#3_Assets/AssetsCurrent/AssetsNoncurrent,POST_BS_POST_#4_Liabilities/LiabilitiesCurrent/LiabilitiesNoncurrent,POST_BS_POST_#5_TemporaryEquity,POST_BS_POST_#6_RedeemableEquity
949,0000007332-09-000034,,4,20090930,USD,False,False,False,True,True,True,True,False,False,False,False,True,False,False,True,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
950,0000007332-10-000005,,4,20091231,USD,False,False,False,True,True,True,True,False,False,False,False,True,False,False,True,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
951,0000007332-10-000019,,4,20100331,USD,False,False,False,True,True,True,True,False,False,False,False,True,False,False,True,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
952,0000007332-10-000032,,3,20100630,USD,False,False,False,True,True,True,True,False,False,False,False,True,False,False,True,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
953,0000007332-10-000041,,3,20100930,USD,False,False,False,True,True,True,True,False,False,False,False,True,False,False,True,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319539,0001929980-23-000010,,2,20221231,USD,False,False,False,True,True,True,False,False,True,False,False,True,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
319540,0001929980-23-000049,,2,20230331,USD,False,False,False,True,True,True,False,False,True,False,False,True,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
319541,0001929980-23-000139,,2,20230630,USD,False,False,False,False,True,True,False,False,True,False,False,True,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
319542,0001929980-23-000140,,2,20230630,USD,False,False,False,False,True,True,False,False,True,False,False,True,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
319569,0001944558-23-000024,,3,20221231,USD,False,False,False,False,True,False,False,False,False,True,False,True,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True

In [21]:
all_bs_joinedbag.pre_num_df.columns

Index(['adsh', 'tag', 'version', 'coreg', 'ddate', 'qtrs', 'uom', 'value', 'footnote', 'report', 'line', 'stmt', 'inpth', 'rfile', 'plabel', 'negating'], dtype='object')

In [26]:
longtermdept = {x for x in all_bs_joinedbag.pre_num_df.tag.tolist() if x.startswith('LongTermDebt')}

In [27]:
longtermdept

{'LongTermDebt',
 'LongTermDebtAndCapitalLeaseObligations',
 'LongTermDebtAndCapitalLeaseObligationsCurrent',
 'LongTermDebtAndCapitalLeaseObligationsIncludingCurrentMaturities',
 'LongTermDebtAndCapitalLeaseObligationsMaturitiesRepaymentsOfPrincipalRemainderOfFiscalYear',
 'LongTermDebtAndCapitalLeaseObligationsRepaymentsOfPrincipalInNextTwelveMonths',
 'LongTermDebtComponentsBondsPayable',
 'LongTermDebtComponentsBondsPayableCurrent',
 'LongTermDebtComponentsCommercialLoansNoncurrent',
 'LongTermDebtComponentsConvertibleDebt',
 'LongTermDebtComponentsMortgageLoans',
 'LongTermDebtComponentsNotesPayable',
 'LongTermDebtComponentsOtherDebt',
 'LongTermDebtCurrent',
 'LongTermDebtFairValue',
 'LongTermDebtMaturitiesRepaymentsOfPrincipalInNextTwelveMonths',
 'LongTermDebtNoncurrent',
 'LongTermDebtPercentageBearingFixedInterestRate'}

In [29]:
all_bs_joinedbag.pre_num_df[all_bs_joinedbag.pre_num_df.tag.isin(['OtherLiabilitiesNoncurrent'])].tag.value_counts()

OtherLiabilitiesNoncurrent    123728
Name: tag, dtype: int64

In [16]:
loaded.result_df[loaded.result_df.adsh=="0000012400-11-000016"]

tag                   adsh coreg  report     ddate  uom       Assets  AssetsCurrent  AssetsNoncurrent  Liabilities  LiabilitiesCurrent  LiabilitiesNoncurrent  HolderEquity  TemporaryEquity  RedeemableEquity       Equity  LiabilitiesAndEquity       Cash  RetainedEarnings  AdditionalPaidInCapital  TreasuryStockValue  AssetsCheck_error  AssetsCheck_cat  LiabilitiesCheck_error  LiabilitiesCheck_cat  EquityCheck_error  EquityCheck_cat  AssetsLiaEquCheck_error  AssetsLiaEquCheck_cat
1606  0000012400-11-000016             3  20110630  USD  833181000.0    110362000.0        39539000.0  237733000.0          47422000.0            190311000.0   319060000.0              0.0               0.0  319060000.0           833181000.0  4312000.0       257310000.0               39575000.0                 NaN           0.820086            100.0                     0.0                   0.0           0.331726            100.0                 0.331726                  100.0

In [18]:
check_gt_10pct = loaded.result_df[loaded.result_df.EquityCheck_error > 0.5].sort_values(['EquityCheck_error'])

In [19]:
check_gt_10pct

tag                     adsh coreg  report     ddate  uom        Assets  AssetsCurrent  AssetsNoncurrent   Liabilities  LiabilitiesCurrent  LiabilitiesNoncurrent  HolderEquity  TemporaryEquity  RedeemableEquity        Equity  LiabilitiesAndEquity        Cash  RetainedEarnings  AdditionalPaidInCapital  TreasuryStockValue  AssetsCheck_error  AssetsCheck_cat  LiabilitiesCheck_error  LiabilitiesCheck_cat  EquityCheck_error  EquityCheck_cat  AssetsLiaEquCheck_error  AssetsLiaEquCheck_cat
98160   0001130464-16-000199             5  20160331  USD  6.324653e+09    423146000.0      1.567508e+09  1.680774e+09         660262000.0           1.020512e+09  1.480683e+09              0.0               0.0  1.480683e+09          6.324653e+09  46974000.0       490999000.0              960605000.0          -1573000.0           0.685255            100.0                     0.0                   0.0           0.500137            100.0                 0.500137                  100.0
291625  0001604665-18-000020             2  20180630  USD  1.492175e+09    242756000.0      1.249419e+09  5.277080e+08          47615000.0           4.800930e+08  2.181520e+08              0.0               0.0  2.181520e+08          1.492175e+09  28483000.0               NaN                      NaN                 NaN           0.000000              0.0                     0.0                   0.0           0.500152            100.0                 0.500152                  100.0
42461   0000927355-12-000034             2  20120630  USD  2.119640e+08    176021100.0      3.594290e+07  2.209287e+08         106120000.0           1.148087e+08  9.715530e+07              0.0               0.0  9.715530e+07          2.119640e+08  14268500.0        97466700.0               47673200.0         -48075400.0           0.000000              0.0                     0.0                   0.0           0.500651            100.0                 0.500651                  100.0
303724  0001640334-19-001433             2  20190531  USD  2.064800e+04        20648.0      0.000000e+00  6.803950e+05            680395.0           0.000000e+00 -6.700900e+05              0.0               0.0 -6.700900e+05          2.064800e+04         NaN         -791991.0                  36122.0                 NaN           0.000000              0.0                     0.0                   0.0           0.500920            100.0                 0.500920                  100.0
237176  0001493152-20-015569             2  20200630  USD  1.521526e+07      6085644.0      9.129612e+06  6.890502e+07          67274235.0           1.630785e+06 -6.131524e+07              0.0               0.0 -6.131524e+07          1.521526e+07    810848.0      -593762532.0              532426974.0                 NaN           0.000000              0.0                     0.0                   0.0           0.501173            100.0                 0.501173                  100.0
...                      ...   ...     ...       ...  ...           ...            ...               ...           ...                 ...                    ...           ...              ...               ...           ...                   ...         ...               ...                      ...                 ...                ...              ...                     ...                   ...                ...              ...                      ...                    ...
76554   0001078782-15-000663             2  20150331  USD  0.000000e+00            0.0      0.000000e+00  0.000000e+00             23493.0          -2.349300e+04 -2.349300e+04              0.0               0.0 -2.349300e+04          0.000000e+00         0.0          -23493.0                      NaN                 NaN           0.000000              0.0                     0.0                   0.0                inf            100.0                      inf                  100.0
252201  0001553350-15-000137             2  20141231  USD -7.400000e+05            0.0     -7.400000e+05 -7.160000e+05             24000.0          -7.400000e+05 -2.400000e+04              0.0               0.0 -2.400000e+04          0.000000e+00         0.0               NaN                 681000.0                 0.0           0.000000              0.0                     0.0                   0.0                inf            100.0                 0.000000                    0.0
195797  0001387131-12-001793             2  20111231  USD  0.000000e+00            0.0      0.000000e+00  1.610613e+07           2995257.0           1.311087e+07 -2.695232e+07              0.0               0.0 -2.695232e+07          0.000000e+00         NaN        -6076859.0                1667908.0         -10200000.0           0.000000              0.0                     0.0                   0.0                inf            100.0                      inf                  100.0
193714  0001372167-16-000268             2  20161031  USD  0.000000e+00            0.0      0.000000e+00  8.947860e+05              9679.0           8.851070e+05 -8.851070e+05              0.0               0.0 -8.851070e+05          0.000000e+00         NaN        -1443828.0                 518084.0                 NaN           0.000000              0.0                     0.0                   0.0                inf            100.0                      inf                  100.0
252337  0001553350-16-002040             2  20160331  USD -7.400000e+05            0.0     -7.400000e+05 -7.160000e+05             24000.0          -7.400000e+05 -2.400000e+04              0.0               0.0 -2.400000e+04          0.000000e+00         0.0               NaN                 681000.0                 0.0           0.000000              0.0                     0.0                   0.0                inf            100.0                 0.000000                    0.0

[4448 rows x 28 columns]

In [19]:
longtermdept = [x for x in all_bs_joinedbag.pre_num_df.tag.tolist() if x.startswith('TemporaryEquityConversionRate')]

In [20]:
len(longtermdept)

0